/* Override defualt style for lineupJS */
section[data-id='col0'] {
	display: none;
}

section[data-id='col1'] {
	display: none;
}

.lu .lu-row-body [data-renderer='aggregate'] {
	display: none;
}

.lu [data-agg='detail'] [data-renderer='rank'] {
	display: none;
}
