name: CI
on: [push, pull_request]
env:
  WEBAPP_STORAGE_ACCOUNT: graphdrilldown

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - name: Install Prerequisites
        run: sudo apt install mesa-common-dev libxi-dev

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/checkout@v2

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install

      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          server-token: ${{ secrets.TURBO_SERVER_TOKEN }}

      - run: yarn ci --api="http://127.0.0.1:9080" --token="${{ secrets.TURBO_SERVER_TOKEN }}" --team="essex"
        name: Verify
      - run: yarn is_clean

      - name: Deploy Static Webapp
        run: yarn deploy
        if: matrix.node-version == '14.x' && github.ref == 'refs/heads/main'
        env:
          CI: true
          STORAGE_ACCOUNT: ${{ env.WEBAPP_STORAGE_ACCOUNT }}
          STORAGE_KEY: ${{ secrets.WEBAPP_STORAGE_KEY }}
          # TODO: define this github secret
          #AUTOLAYOUT_URL: ${{ secrets.AUTOLAYOUT_URL }}
