name: Deploy to GitHub Pages

on:
 push:
   branches:
     - main

jobs:
  deploy-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - run: yarn install
      - run: yarn bundle
      - run: yarn assets

      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./packages/webapp/build
